.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}

/* ABOUT STYLES */
.about-container {
  padding: 0 10px;
  margin-bottom: 80px;
}

.about-container h4,
.experience-container > h4 {
  font-size: 15px;
  font-weight: 600;
  color: var(--sec);
  margin-bottom: 20px;
}

.about-container p {
  font-size: 12px;
  font-weight: 400;
  color: var(--sec);
  margin-bottom: 10px;
}

.about-container a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.about-container a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.about-container a:hover {
  color: var(--green);
}

/* EXPERIENCE STYLES */
.experience-container {
  margin-bottom: 80px;
}

.experience-container > h4 {
  padding: 0 10px;
  margin-bottom: 10px;
}

.experience-container:last-of-type {
  margin-bottom: 0;
}

.experience-container > a {
  text-decoration: none;
  color: inherit;
}

.experience-container > a > div,
.experience-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.experience-section-active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.experience-section-dim {
  opacity: 0.5;
}

.experience-section-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.experience-section-col > div > h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--sec);
  margin: 0;
  margin-top: 10px;
}

.experience-secion-dot {
  display: none;
  margin: 0 10px;
  color: var(--pri);
  font-size: 5px;
}

.experience-section-title h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--pri);
  margin: 0;
}

.experience-section-title h4:nth-of-type(2) {
  margin-top: 5px;
  opacity: 0.9;
}

.experience-section-active .experience-section-title h4 {
  color: var(--green);
}

.experience-section-details {
  margin-bottom: 10px;
}

.experience-section-details p {
  font-size: 12px;
  font-weight: 400;
  color: var(--sec);
  margin: 0;
}

.experience-section-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.experience-section-skills ul,
.experience-section-skills li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience-section-skills li div {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #1b4332;
}

.experience-section-skills ul p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  color: var(--green);
}

/* EDUCATION STYLES */
.education-section-date h5 {
  font-size: 13px;
  font-weight: 500;
  color: var(--pri);
  margin-bottom: 10px;
}

.education-section-grades ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.education-section-grades ul,
.education-section-grades li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education-section-grades li div {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #1b4332;
}

.education-section-grades ul p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  color: var(--green);
}

@media (min-width: 576px) {
  .about-container h4,
  .experience-container > h4 {
    font-size: 16px;
  }

  .about-container p {
    font-size: 13px;
  }

  .experience-section-title {
    flex-direction: row;
    align-items: center;
  }

  .experience-section-col {
    flex-direction: column;
    align-items: flex-start;
  }

  .experience-section-col > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .experience-section-title h4:nth-of-type(2) {
    margin-top: 0;
    opacity: 1;
  }

  .experience-secion-dot {
    display: block;
    margin: 0 10px;
    color: var(--pri);
    font-size: 5px;
  }

  .experience-section-details p {
    font-size: 13px;
  }

  .experience-section-skills ul p,
  .education-section-grades ul p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .about-container h4,
  .experience-container > h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .experience-container > h4 {
    margin-bottom: 20px;
  }

  .about-container p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .experience-section-details p {
    font-size: 14px;
  }

  .education-section-date h5 {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .sections-container {
    width: 50%;
    margin-left: 50%;
    padding: 70px 0;
  }

  .about-container {
    padding: 30px 10px;
    margin-bottom: 80px;
  }

  .about-container h4,
  .experience-container > h4 {
    display: none;
  }

  .about-container p {
    font-size: 15px;
  }

  .experience-container > div {
    padding: 10px 20px;
  }

  .experience-section-title h4 {
    font-size: 15px;
  }

  .experience-section-skills ul p,
  .education-section-grades ul p {
    font-size: 13px;
  }

  .education-section-date h5 {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .experience-section-title h4 {
    font-size: 17px;
  }
}
