.details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 80px;
}

.details-container > div {
    display: flex;
    flex-direction: column;
}

.details-container > div > div {
    padding: 15px 0;
}

.details-title {
    display: flex;
    flex-direction: column;
}

.details-title h1 {
    font-size: 32px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.details-title h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--pri);
}

.details-title h5 {
    font-size: 12px;
    font-weight: 400;
    color: var(--sec);
    margin: 0;
}

.details-links {
    display: none;
}

.details-links > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    width: auto;
}

.details-links > div > span {
    width: 30px;
    height: 1px;
    margin-right: 15px;
    background-color: #666;
    transition: width .2s ease-in;
}

.details-link-spanac {
    width: 60px !important;
    background-color: var(--pri) !important;
}

.details-links h6 {
    font-size: 15px;
    font-weight: 400;
    color: var(--sec);
    opacity: 0.7;
    margin: 0;
}

.details-links h6.details-link-h6ac {
    font-weight: 500 !important;
    color: var(--pri) !important;
    opacity: 1 !important;
}

.details-socials {
    padding: 5px 0 !important;
}

.details-socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* margin-right: 25px; */
}

.details-socials p {
    font-size: 12px;
    margin-left: 7px;
    margin-bottom: 0;
    color: #fff;
}

.details-social-icon {
    font-size: 16px;
    color: var(--pri);
}

@media (min-width: 576px) {
    .details-title h1 {
        font-size: 42px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .details-title h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .details-title h5 {
        font-size: 13px;
    }

    .details-socials p {
        font-size: 13px;
    }
    
    .details-social-icon {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .details-container {
        position: fixed;
        justify-content: space-between;
        height: 100vh;
        width: calc((0.35*1100px));
        padding: 70px 0;
    }

    .details-container > div > div {
        padding: 30px 0;
    }

    .details-title h1 {
        font-size: 55px;
        line-height: 52px;
        margin-bottom: 20px;
    }

    .details-title h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .details-title h5 {
        font-size: 15px;
    }

    .details-links {
        display: block;
        width: 160px;
    }

    .details-socials p {
        font-size: 14px;
        margin-left: 10px;
    }
    
    .details-social-icon {
        font-size: 28px;
    }
}